<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dosierung</li>
</ol>

<div class="row article">

    <div class="col-md-8">
        <h1>Dosierung und Termin der Applikation</h1>


        <ul class="downloads">
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <a href="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-3.png">Titel des Bildes</a>
                        <br>
                        <br>
                        <p class="well">Kurze Beschreibung zum Bild.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-3.png">
                            <img src="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-3.png">
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <a href="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-4.jpg">Titel des Bildes</a>
                        <br>
                        <br>
                        <p class="well">Kurze Beschreibung zum Bild.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-4.jpg">
                            <img src="assets/img/Lexin-Info-Brosch%C3%BCre-A4b_DE-4.jpg">
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div class="col-md-4">
        <div ng-include="'views/sidebar.html'"></div>
    </div>

</div>
