<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/lexin">Lexin</a></li>
    <li class="active">Huminosäuren</li>
</ol>

<h1>Huminosäuren</h1>
<div class="row article">
    <div class="col-md-8">
        <p class="intro">Huminsäuren entstehen – wie Fulvonsäure– bei der sogenannten Humifizierung, dem Abbauprozesses von biologischem Material. Sie kommen in Humusböden, Torf uund Braunkohle vor.</p>

        <p>Huminsäure wirkt als Bioeffektor in Humusböden und als Speicher für basische N-Verbindungen.</p>
        <p>Huminstoffe und -säuren werden u.a. verwendet</p>

        <ul>
            <li>als Bodenverbesserungsmittel (Düngemittel),</li>
            <li>als Pflanzenverstärkungsmittel (Widerstandsfähigkeit gegen Schädlinge),</li>
            <li>zur Förderung der Lagerfähigkeit von Früchten,</li>
            <li>zur Absorption von Schwermetallen im Klärschlamm;</li>
        </ul>

        <p>Im Gegensatz zu Fulvinsäure, welche eine niedermolekulare chemische Verbindung ist, sind Huminsäuren hochmolekulare Verbindungen mit einem Molmassebereich von 2000 bis 300.000 Dalton und besteht hauptsächlich aus teilweise abgebautem pflanzlichen Ligning und Cellulose. Kohlenhydrate und Proteine sind oft angelagerte Stoffe wobei z.B. Zucker, leicht abbaubare Substanzen, exodiert.</p>

        <p>Weiters ist die Funktion der Huminsäure als Ionenaustauscher eine wichtige Funktion, welche die basischen N-Verbdingunen binden und im Austausch für metallische Kationen wieder freigibt.</p>
    </div>
    <div class="col-md-4">
        <img src="assets/img/620px-Humic_acid.svg_-300x185.png" alt="Beispielstruktur einer Huminsäure">
    </div>
</div>
