<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/lexin">Lexin</a></li>
    <li class="active">Fulvosäuren</li>
</ol>

<h1>Fulvosäuren</h1>
<div class="row article">
    <div class="col-md-12">
        <p class="intro">Auch Fulvosäuren genannt, entstehen – wie die Huminsäuren und deren Salze – bei der sogenannten Humifizierung, dem Abbauprozesses von biologischem Material. Die Gruppe organischer Säuren haben – wie auch die Huminsäuren – eine nicht einheitliche Zusammensetzung. </p>
        <p>Durch die geringere molare Masse der Fulvinsäuren im Gegensatz zu den Huminsäuren, sind diese im Wasser besser löslich und haben auch einen stärkeren sauren Charakter.</p>
        <p>Reine Fulvinsäure ist durch seinen ungebundenen Zustand und das niedrige Gewicht ein hervorragender Träger von Mineralstoffen, Spurenelementen und Vitaminen. Es wandert von einer Zelle zur nächsten während es Nährstoffe abgibt und Metalle aufnimmt und abführt. Zelle</p>
    </div>
</div>
