<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/lexin">Lexin</a></li>
    <li class="active">Auxine</li>
</ol>

<h1>Auxine</h1>

<div class="row article">
    <div class="col-md-8">
        <p class="intro">
            Die Auxine (griechisch αὐξάνω „auxanō“ – „ich wachse“) sind eine Gruppe von natürlichen und synthetischen <a href="https://de.wikipedia.org/wiki/Wachstumsregulator">Wachstumsregulatoren</a> mit multipler Wirkung auf Wachstums- und Differenzierungsprozesse bei <a href="https://de.wikipedia.org/wiki/Gef%C3%A4%C3%9Fpflanze">Gefäßpflanzen</a> und einer spezifischen Wirkung im <a href="https://de.wikipedia.org/wiki/Protonema">Protonema</a> der <a href="https://de.wikipedia.org/wiki/Laubmoose">Laubmoose</a>.</p><p> Die natürlich vorkommenden pflanzlichen Auxine gehören zu den <a href="https://de.wikipedia.org/wiki/Phytohormone">Phytohormonen</a>. Gegenspieler der Auxine sind die <a href="https://de.wikipedia.org/w/index.php?title=Blastokoline&amp;action=edit&amp;redlink=1">Blastokoline</a>. Die Auxine sind in der Fachsprache aufgrund ihrer Wirkung auch unter dem Namen Streckungshormone bekannt. In Pflanzen sind sie essentiell.
        </p>

        <h2>Auxine, Gruppe von natürlichen und synthetischen pflanzlichen Verbindungen</h2>
        <p>
            Auxine, Gruppe von natürlichen und synthetischen pflanzlichen Verbindungen, die als <a href="http://www.spektrum.de/abo/lexikon/biok/9038">Phytohormone</a> und <a href="http://www.spektrum.de/abo/lexikon/biok/5402">Herbizide</a> das Wachstum von Pflanzen regulieren. A. waren die ersten Phytohormone, die am Ende des 19. Jh. im Zusammenhang mit Krümmungswachstum, <a href="http://www.spektrum.de/abo/lexikon/biok/4376">Fototropismus</a> und <a href="http://www.spektrum.de/abo/lexikon/biok/5054">Gravitropismus</a> entdeckt wurden (<a href="http://www.spektrum.de/abo/lexikon/biok/1508">Bioassay</a>) ( <a href="http://www.spektrum.de/lexika/showpopup.php?lexikon_id=11&amp;art_id=1136&amp;nummer=134">vgl. Abb.</a> ). Neben diesen klassischen A.-Effekten sind A. auch an einer Vielzahl weiterer pflanzlicher Entwicklungsprozesse beteiligt. Natürlicherweise kommen Auxine hauptsächlich als <a href="http://www.spektrum.de/abo/lexikon/biok/5905">Indol-3-essigsäure</a> (IAA) vor.</p>
        <p>
            Indol-3-essigsäure und vor allem einige synthetische Auxine wie 2,4-D haben als Wachstumsregulatoren in der <a href="https://de.wikipedia.org/wiki/Landwirtschaft">Landwirtschaft</a> sowie im Obst- und Gartenbau (Fruchtausdünnung, Förderung des Fruchtansatzes) breite Anwendung gefunden. Beispiele sind hier die <a href="https://de.wikipedia.org/wiki/Steckling">Stecklingsbewurzelung</a> oder als selektiv wirkende <a href="https://de.wikipedia.org/wiki/Herbizide">Herbizide</a> im Getreideanbau, Baumwoll-, Sojabohnen- und Zuckerrübenkulturen.</p>
        <p>
            Die Biosynthese der Auxine erfolgt entweder aus <a href="http://www.spektrum.de/abo/lexikon/biok/12138">Tryptophan</a>, das in mehreren enzymatischen Schritten in IAA umgewandelt wird, oder aber in Tryptophan-unabhängigen Synthesewegen. Dies ergab die Untersuchung von <a href="http://www.spektrum.de/abo/lexikon/biok/814">Arabidopsis-Mutanten</a>, die kein Tryptophan synthetisieren können. Durch mehrere, voneinander unabhängige Synthesewege wird erreicht, dass A.-Mangel bei Pflanzen so gut wie ausgeschlossen ist.
        </p>
        <p>
            Innerhalb der Pflanze werden Auxine vor allem in der Sprossspitze gebildet und polar über die Leitbündel zu den Wurzeln transportiert. Dadurch entsteht ein Auxin-Gradient, auf den zahlreiche physiologische Auxin-Effekte wie <a href="http://www.spektrum.de/abo/lexikon/biok/767">Apikaldominanz</a>, <a href="http://www.spektrum.de/abo/lexikon/biok/45">Abscission</a>, Fruchtreife, <a href="http://www.spektrum.de/abo/lexikon/biok/11375">Streckungswachstum</a>, <a href="http://www.spektrum.de/abo/lexikon/biok/10726">Seneszenz</a> der Blätter oder aber die Wundheilung zurückgeführt werden.

        </p>
        <h2>Im Zellinnern wird der Gehalt an biologisch aktiver freier IAA durch eine Reihe von Prozessen gesteuert.</h2>
        <p>
            Im Zellinnern wird der Gehalt an biologisch aktiver freier IAA durch eine Reihe von Prozessen gesteuert. Dabei stehen der Biosynthese die Bindung der IAA an hoch- oder niedermolekulare Substanzen und der oxidative Abbau gegenüber. Auxine kommen im Cytosol fast ausschließlich in Veresterung mit Zuckermolekülen oder als Amid-Konjugate mit Aspartat vor. Das Fließgleichgewicht von freier cytosolischer IAA wird zudem durch Kompartimentierung kontrolliert, da IAA neben dem Cytosol auch im Chloroplasten gespeichert wird.
        </p>
        <p>
            Die Auxin-induzierte Zellstreckung beruht im wesentlichen darauf, dass die Dehnbarkeit der Zellwand erhöht wird. Dadurch wird das <a href="http://www.spektrum.de/abo/lexikon/biok/11375">Streckungswachstum</a> pflanzlicher Zellen gefördert. In ähnlicher Weise wird auch die Auxin-Wirkung bei Fototropismus und Gravitropismus erklärt. Nach der Cholodny-Went-Hypothese kommt es in Spross bzw. Wurzel zu Verschiebungen der biologisch aktiven IAA zur Schattenseite bzw. Wurzelunterseite, sodass gerichtetes Wachstum möglich ist.
        </p>
        <p>
            Neben den zahlreichen physiologischen Auxin-Effekten ist die Wirkungsweise dieses Phytohormons inzwischen auch auf molekularer Ebene gut untersucht. Dabei wird davon ausgegangen, dass Auxin an einen intrazellulären Rezeptor binden und über eine Signalkette die Expression bestimmter Gene kontrollieren, deren Promotoren Auxin-abhängige Elemente enthalten. Hierzu zählen u.a. Gene von <a href="http://www.spektrum.de/abo/lexikon/biok/11989">Transkriptionsfaktoren</a> sowie Gene, die an der Biosynthese von <a href="http://www.spektrum.de/abo/lexikon/biok/3891">Ethylen</a> beteiligt sind. Dabei fungieren offenbar hydrophile Glykoproteine, so genannte Auxin-bindende Proteine (ABP) wie das ABP1 als Auxinrezeptoren.
        </p>
    </div>
</div>
