<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Aktuell</li>
</ol>


<h1 class="entry-title">Erste Feldversuchs-Ergebnisse im Weinviertel</h1>

<div>
    <div class="alert alert-warning">
    Wir haben schon erste Ergebnisse der Feldversuche bei einem Landwirten aus der Umgebung Laa an der Thaya erhalten.
    </div>
    <p>Es wurden auf jeweils 2 Hektar Sommergerste und 2 Hektar Winterweizen 2 Mal Lexin ausgebracht. Beide Ausbringungen fanden jeweils im Frühling und im Sommer statt. Der ha-Ertrag wurde leider aufgrund besonderer Umstände nicht gemessen.</p>
    <h2>Die Ergebnisse</h2>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p><strong>Sommergerste</strong></p>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ohne Lexin</th>
                        <th style="background-color: green; color: white;">Mit Lexin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Feuchte:</th>
                        <td>10,9</td>
                        <td>10,7</td>
                    </tr>
                    <tr>
                        <th>Protein:</th>
                        <td>11,2</td>
                        <td>10,6</td>
                    </tr>
                    <tr>
                        <th><abbr title="Hektoliter">HL</abbr>–Gewicht:</th>
                        <td>65,5</td>
                        <td>66,2</td>
                    </tr>
                    <tr>
                        <th>Siebung:</th>
                        <td>94</td>
                        <td>95</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <p><strong>Winterweizen</strong></p>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ohne Lexin</th>
                        <th style="background-color: green; color: white;">Mit Lexin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Feuchte:</th>
                        <td>9,6</td>
                        <td>9,8</td>
                    </tr>
                    <tr>
                        <th>Protein:</th>
                        <td>14,4</td>
                        <td>15,1</td>
                    </tr>
                    <tr>
                        <th><abbr title="Hektoliter">HL</abbr>–Gewicht:</th>
                        <td>85</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <th>F–Kleber:</th>
                        <td></td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <th>Sedi:</th>
                        <td></td>
                        <td>68</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>Anhand dieser Ergebnisse sieht man, dass die Qualität (Protein, Siebung) durch die Ausbringung von Lexin gesteigert wurde, ebenso wie den Ertrag durch die <abbr title="Hektoliter">HL</abbr>–Gewicht Erhöhung. Das wiederum bedeutet, dass die <abbr title="Tausendkornmasse">TKM</abbr> erhöht wurde, da man bei gleichem Volumen ein höheres Gewicht hat. </p>
</div>
